[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
environs = "*"
django-debug-toolbar = "*"
python-decouple = "*"
django-extensions = "==2.2.5"
werkzeug = "==0.16.0"
pyopenssl = "==19.0.0"
django-cpf = "*"
django-bootstrap-form = "*"
django-mptt = "*"
django-simple-history = "==3.0.0"
djangorestframework = "==3.12.2"
drf-yasg = "==1.20.0"
django-filter = "*"
psycopg2-binary = "==2.9.1"
gunicorn = "==20.1.0"

[requires]
python_version = "3.9"
