{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Alteração de senha{% endblock %}

{% block main %}

    <h1>Alteração de Senha</h1>
    <p>Por favor digite sua senha antiga por motivos de segurança,
        e então digite sua nova senha duas vezes para que possamos
        verificar se você digitou corretamente.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Alterar minha senha">
    </form>

{% endblock %}