{% extends '_base.html' %}

{% block main %}
    <h2>Lista de Processos</h2>
    <br>
    {% if caixa %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Processo</th>
                    <th scope="col">Interessado</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Último Trâmite</th>
                    <th scope="col">Data Recepção</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for processo in caixa %}
                    <tr>
                        <td scope="row">{{ processo.numero_processo }}</td>
                        <td>{{ processo.interessado }}</td>
                        <td><a href="{% url 'processo_editar' processo.id %}">{{ processo.assunto }}</a></td>
                        <td>{{ processo.ultimo_tramite }}</td>
                        <td>
                            {% if processo.recepcao %}
                                {{ processo.recepcao }}
                            {% else %}
                                Não recebido
                            {% endif %}
                        </td>
                        <td><a href="{% url 'processo_excluir' processo.id %}" class="btn btn-danger btn-sm">Excluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <div class="row justify-content-start">
        <div class="col-1">
            <a href="{% url 'processo_novo' %}" class="btn btn-primary">Novo</a>
        </div>
        <div class="col-4">
            <a href="{% url 'tramites_nao_recebidos' %}" class="btn btn-info">Relatório de Não Recebidos</a>
        </div>
    </div>
    {% else %}
        <h1 class="display-4" align="center"> Caixa Postal vazia no momento.</h1>
    {% endif %}

{% endblock %}