{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block link %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block media %}
    {{ form.media }}
    <style>
        #id_interessado {
            position: relative;
            width: 30%;
        }
        #id_assunto {
            position: relative;
            width: 30%;
        }
    </style>
{% endblock %}

{% block main %}
    {% if processo %}
        <h2>Editar Processo</h2>
    {% else %}
        <h2>Novo Processo</h2>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Salvar" class="btn btn-success">
    </form>
    <br>
    <br>
    <h2>Trâmites</h2>
        {% if processo.recepcao %}
            <a href="{% url 'tramitacao_novo' processo.id %}" class="btn btn-dark">Tramitar</a>
        {% endif %}
    <br>
    {% for tramites in processo.processo_tramites.all %}
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'tramitacao_detalhar' tramites.id %}">
                        {{ tramites }} - {{ tramites.data_tramite }}
                    </a>
                        {% if tramites.data_recebimento is none %}
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">
                                    <a href="{% url 'tramitacao_excluir' tramites.id %}">Excluir</a>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <a href="{% url 'tramitacao_receber' tramites.id %}">Receber</a>
                                </button>
                            </div>
                        {% endif %}
                </li>
            </ul>
        </div>
    {% endfor %}
    <br>
    {% if processo %}
        <a href="{% url 'exportar_tramites_csv' processo.id %}" class="btn btn-success">Exportar CSV</a>
    {% endif %}
    <br>

{% endblock %}

{% block static %}
<!--  Observar a ordem em que o javascript é incluido no template  -->
<!-- Revisar o jQuery renderizado para garantir que ele não está sendo carregado duas vezes na página -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_interessado').select2({
                ajax: {
                    url: '/api/v1/interessados/',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {id: item.id, text: item.nome};
                            })
                        };
                    }
                },
                minimumInputLength: 3
            });
            $('#id_assunto').select2({
                ajax: {
                    url: '/api/v1/assuntos/',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {id: item.id, text: item.nome};
                            })
                        };
                    }
                },
                minimumInputLength: 3
            });
        });
    </script>
{% endblock %}