{% extends '_base.html' %}
{% load bootstrap %}

{% block main %}
    {% if processo %}
        <h2>Editar Processo</h2>
    {% else %}
        <h2>Novo Processo</h2>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Salvar" class="btn btn-success">
    </form>
    <br>
    {% if processo %}
        <a href="" class="btn btn-danger">Excluir</a>
    {% endif %}
    <br>
    <br>
    <h2>Trâmites</h2><a href="{% url 'tramitacao_novo' processo.id %}" class="btn btn-dark">Tramitar</a>
    <br>
    {% for tramites in processo.processo_tramites.all %}
        <li>
            <lu>{{ tramites }} - {{ tramites.data_tramite }}
                    {% if tramites.data_recebimento is none %}
                        <a href="{% url 'tramitacao_receber' tramites.id %}" class="btn btn-warning">Receber</a>
                        <a href="{% url 'tramitacao_excluir' tramites.id %}" class="btn btn-danger">Excluir</a>
                    {% endif %}
            </lu>
        </li>
    {% endfor %}

{% endblock %}