{% extends '_base.html' %}
{% load bootstrap %}

{% block main %}
    {% if processo %}
        <h2>Editar Processo</h2>
    {% else %}
        <h2>Novo Processo</h2>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Salvar" class="btn btn-success">
    </form>
    <br>
    <br>
    <h2>Trâmites</h2>
        {% if processo.recepcao %}
            <a href="{% url 'tramitacao_novo' processo.id %}" class="btn btn-dark">Tramitar</a>
        {% endif %}
    <br>
    {% for tramites in processo.processo_tramites.all %}
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ tramites }} - {{ tramites.data_tramite }}
                        {% if tramites.data_recebimento is none %}
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">
                                    <a href="{% url 'tramitacao_excluir' tramites.id %}">Excluir</a>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <a href="{% url 'tramitacao_receber' tramites.id %}">Receber</a>
                                </button>
                            </div>
                        {% endif %}
                </li>
            </ul>
        </div>
    {% endfor %}
    <br>
    <br>

{% endblock %}