{% extends '_base.html' %}

{% block main %}
    <h2>Lista de Cargos</h2>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Classe</th>
                <th scope="col">Nome</th>
                <th scope="col">Jornada</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for cargo in cargos %}
                <tr>
                    <td scope="row">{{ cargo.id }}</td>
                    <td>{{ cargo.classe }}</td>
                    <td><a href="{% url 'cargo_editar' cargo.id %}">{{ cargo.nome }}</a></td>
                    <td>{{ cargo.jornada }}</td>
                    <td><a href="{% url 'cargo_excluir' cargo.id %}" class="btn btn-danger btn-sm">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última</a>
            {% endif %}
        </span>
        <br>
    </div>
    <div>
        <br>
        <a href="{% url 'cargo_novo' %}" class="btn btn-success">Novo</a>
        <br>
        <br>
    </div>

{% endblock %}