{% extends '_base.html' %}

{% block main %}
    <h2>Lista de Cargos</h2>
    <br>
    <lu>
        {% for cargo in cargos %}
            <li>
                <a href="{% url 'cargo_editar' cargo.id %}">{{ cargo.classe }}-{{ cargo.nome }}</a>
                <a href="{% url 'cargo_excluir' cargo.id %}" class="btn btn-danger btn-sm">Excluir</a>
                <br>
            </li>
        {% endfor %}
    </lu>
    <br>
    <a href="{% url 'cargo_novo' %}" class="btn btn-primary">Novo</a>
{% endblock %}