{% extends '_base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
    {% if vinculo %}
        <h2>Editar Vínculo</h2>
    {% else %}
        <h2>Novo Vínculo</h2>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Salvar" class="btn btn-success">
    </form>

{% endblock %}

{% block static %}
<!--    Try using the RelatedObjectLookups-->
<script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script src="{% static 'admin/js/actions.js' %}"></script>
<script src="{% static 'admin/js/core.js' %}"></script>
{% endblock %}