{% extends '_base.html' %}

{% block main %}
    <h2>Lista de Vínculos</h2>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Funcionário</th>
                <th scope="col">Cargo</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Lotação</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for vinculo in vinculos %}
                <tr>
                    <td scope="row">{{ vinculo.id }}</td>
                    <td>{{ vinculo.nome_completo }}</td>
                    <td><a href="{% url 'vinculo_editar' vinculo.id %}">{{ vinculo.cargo.nome }}</a></td>
                    <td>{{ vinculo.matricula }}</td>
                    <td>{{ vinculo.lotacao }}</td>
                    <td><a href="{% url 'vinculo_excluir' vinculo.id %}" class="btn btn-danger btn-sm">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                 <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última</a>
            {% endif %}
        </span>
        <br>
    </div>
    <div>
        <br>
        <a href="{% url 'vinculo_novo' %}" class="btn btn-success">Novo</a>
        <br>
        <br>
    </div>

{% endblock %}