{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% crispy interessado_form interessado_form.helper %}

{% block staticscss %}
    <style>
        #submit-id-submit {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        }
    </style>
{% endblock %}

{% block main %}

    {% if interessado %}
        <h2>Editar Interessado</h2>
    {% else %}
        <h2>Novo Interessado</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <br>
{% endblock %}
