<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{% url 'home' %}">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if user.is_superuser %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'processos_lista' %}">Protocolo <span class="sr-only">(current)</span></a>
                  </li>
              {% endif %}
              {% if not user.is_superuser %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'caixa_lista' %}">Caixa Postal<span class="sr-only">(current)</span></a>
                  </li>
              {% endif %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'vinculos_lista' %}">Funcionários</a>
              </li>
              {% if user.is_superuser %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'interessados_lista' %}">Interessados</a>
                  </li>
              {% endif %}
              {% if user.is_superuser %}
                  <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'assuntos_lista' %}">Assuntos</a>
                  </li>
              {% endif %}
              {% if user.is_superuser %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'orgaos_lista' %}">Órgãos</a>
                  </li>
              {% endif %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'cargos_lista' %}">Cargos</a>
              </li>
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown"
                     role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuário
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if user.username %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Alterar Senha</a>
                      {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'password_reset' %}">Esqueci minha senha :O </a>
                      {% endif %}
                      {% if user.username %}

                      {% endif %}
                  </div>
              </li>
            </ul>
          </div>
</nav>