<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{% url 'home' %}">Protocolo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vinculos_lista' %}">Funcionários</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Assuntos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Órgãos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cargos_lista' %}">Cargos</a>
              </li>
              <li class="nav-item">
                  {% if user.username %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  {% endif %}
              </li>
            </ul>
          </div>
</nav>