{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    {% if assunto %}
        <h2>Editar Assunto</h2>
    {% else %}
        <h2>Novo Assunto</h2>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Salvar" class="btn btn-success">
    </form>
    <div>
        <br>
        {% if assunto %}
            <a href="{% url 'assunto_excluir' assunto.id %}" class="btn btn-danger">Excluir</a>
        {% endif %}
        <br>
        <br>
    </div>


{% endblock %}