{% extends '_base.html' %}

{% load mptt_tags %}
{% block main %}
<h2>Lista de Órgãos</h2>
<br>
<ul>
    {% recursetree orgaos %}
        <li>
            <a href="{% url 'orgao_editar' node.id %}">{{ node.nome }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

<br>
<div>
    <br>
    <a href="{% url 'orgao_novo' %}" class="btn btn-success">Novo</a>
    <br>
    <br>
</div>


{% endblock %}